@import "tailwindcss";

@theme {
  --font-heading: var(--font-heading), sans-serif;

  --color-black: #0f3330;
  --color-white: #fffdfc;
  --color-primary: #49c9c1;
  --color-primary-hover: #41b3b0;
  --color-secondary: #0c8783;
  --color-secondary-hover: #e08a1c;
  --color-tertiary: #ebf2f2;
  --color-accent: #ef504e;
  --color-accent-light: #f68f81;
  --color-sub: #0284c7;
  --color-surface-bg: #f2f0ef;
  --color-surface-border: #e2e8f0;
}

body {
  background: var(--color-surface-bg);
  color: var(--color-black);
}
